[Desktop Entry]
Encoding=UTF-8
Icon=text-html
Name[en_US]=Tutorial_For_ZEON_Linux
Name=Tutorial_For_ZEON_Linux
Type=Link
URL=https://github.com/zeon/zeon-next/wiki/How-to-install-ZEON-app
