// Copy this file to AppleSigning.xcconfig. The copied file is ignored by git.
APPLE_DEVELOPMENT_TEAM = YOUR_TEAM_ID
BASE_BUNDLE_IDENTIFIER = com.yourcompany.zeon
SERVICE_IDENTIFIER = com.yourcompany.zeon
