<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name="test.com.zeon.zeon.bg.RussianServicesValidationActivity"
            android:exported="true" />
        <activity
            android:name="test.com.zeon.zeon.bg.Http3ValidationActivity"
            android:exported="true" />
        <activity
            android:name="test.com.zeon.zeon.bg.DataPlaneValidationActivity"
            android:exported="true" />
    </application>
</manifest>
